{% extends "front/base.html.twig" %}
{% block title %}Découvrez la liste des licences{% endblock %}

{% block main %}
    <section style="display: flex; justify-content: center; margin-top: 50vh; transform: translateY(-50%)">

        <table style="border-spacing: 5px;">

            <td>
                <tr><h1 style="margin-top: auto; margin-bottom: auto; width:220px">Les licences</h1></tr>
            </td>
            <td>
                <tr><hr></tr>
            </td>
            <td>
                <tr>
                    <div style="text-align: center; width:500px">
                        {% for licence in licences %}
                            <p><a href="{{ path('show_licence', {'id' : licence.id }) }}" style="outline: none; text-decoration: none; color: #000; font-size: 16pt">{{ licence.name }}</a></p>
                            <img src="{{ asset('media/' ~ licence.media) }}" alt="{{ licence.name }}" style="width: 400px; margin:20px">
                            <hr>
                        {% endfor %}
                    </div>
                </tr>
            </td>

        </table>
        
    </section>
{% endblock %}